*{
	margin:0;
	padding:0;
}


.clearfix::after{
	content:"";	
	display:block;
	clear:both;
}

#header{
	width:950px;
	background-color:#fff;
	height:150px;
	margin:0 auto;
}

.header-top{
	width: 960px;
}


#header-title{
	font-size:12px;
	float:left;
	width:510px;
	height:50px;
}



.nav_li{
	float:right;
	width:450px;
	padding-left:5px;
}

.nav_link{
	font-size:12px;
	text-decoration:none;
	color:#333;
	display:block;
	float:left;
}

.nav li{
	list-style: none;
	float:left;
	width:135px;
}

.header-bottom{
	width:960px;
}

.header-label{
	width:200px;
	float:left;
}
.form-box{
	width:260px;
	float:left;
}
.form-group{
	width:260px;
	float:left;
}
.header-btn{
	width:70px;
	height:37px;
}
a:hover{
	text-decoration:underline;
}
.search-btn{
width:50px;
height:50px;
float:left;
}
#header-img{
	width:600px;
	padding-left:130px;
	margin:0 auto;
}
#header_img{
	height:70px;
	width:300px;
	margin:0 auto;
}
.top-title{
	text-decoration:none;
	color:#333;
}
.top-moji{
	text-decoration:none;
	color:#333;
}
#top{
	width:1350px;
	height:345px;
	background-color:#fafafa;
	
}
.top-content{
	width:300px;
	height:300px;
	float:left;
	background-color:#ffffff;
	margin:10px;
}
.top-image{
	width:960px;
	height:960px;
	margin:0 auto;
}
.top-img{
	width:300px;
	height:195px;
}
.top-title{
	font-size:16px;
}
.top-moji{
	font-size:12px;
	color:#999999;
	list-style-type:none;
	display:block;
}

.top-moji-link{
	color:#999;
}