*{
	margin:0 auto;
	padding:0;
}


.clearfix::after{
	content:"";	
	display:block;
	clear:both;
}

#header{
	width:960px;
	background-color:#fff;
	height:150px;
	
}

.header-top{
	width: 960px;
}


#header-title{
	font-size:12px;
	float:left;
	width:510px;
	height:50px;
}



.nav_li{
	float:right;
	width:450px;
	padding-left:5px;
}

.nav_link{
	font-size:12px;
	text-decoration:none;
	color:#333;
	display:block;
	float:left;
}

.nav li{
	list-style: none;
	float:left;
	width:135px;
	
}

.header-bottom{
	width:960px;
}

.header-label{
	width:260px;
}
.form-box{
	width:260px;
	float:left;
}
.form-group{
	width:260px;
	float:left;
}
a:hover{
	text-decoration:underline;
}
.search-btn{
width:50px;
height:50px;
float:left;
}
#header-img{
	width:600px;
	padding-left:130px;
}
#header_img{
	height:60px;
	width:300px;
	margin:0 auto;
}
.top-title{
	text-decoration:none;
	color:#333;
}
.top-moji{
	text-decoration:none;
	color:#333;
}
