*{
	margin:0;
	padding:0;
}


.clearfix::after{
	content:"";	
	display:block;
	clear:both;
}

#header{
	width:950px;
	background-color:#fff;
	height:105px;
	margin:0 auto;
}

.header-top{
	width: 960px;
}
#header-title{
	font-size:12px;
	float:left;
	width:510px;
	height:50px;
}
.nav_li{
	float:right;
	width:450px;
	padding-left:5px;
	transform:translate(160px,0);
}

.nav_link{
	font-size:12px;
	text-decoration:none;
	color:#333;
	display:block;
	float:left;
}

.nav li{
	list-style: none;
	float:left;
	width:135px;
}

.header-bottom{
	width:960px;
	transform:translate(0,-17px);
}

.header-label{
	width:200px;
	float:left;
}
.form-box{
	width:260px;
	float:left;
	height:30px;
}
.formfiled{
	font-size:12px;
}

.form-group{
	width:260px;
	float:left;
	margin-left: 5px;
}
.img-input{
	transform:translate(182px,-41px);
	height:45px;
	width:70px;
}

.header-btn{
	width:70px;
	height:37px;
}
.search-btn{
width:50px;
height:50px;
float:left;
}
#header-img{
	width:600px;
	padding-left:130px;
	margin:0 auto;
}
#header_img{
	height:58px;
	width:325px;
	margin:0 auto;
}
.top-title{
	text-decoration:none;
	color:#333;
	margin-left:5px;
}
.top-moji{
	text-decoration:none;
	color:#333;
}
#top{
	width:1350px;
	height:345px;
	background-color:#fafafa;	
}
.top-content{
	width:310px;
	height:270px;
	float:left;
	background-color:#ffffff;
	margin:10px 0 10px 10px;
}
.top-image{
	width:960px;
	height:300px;
	margin: auto;
	background-color:#ffffff;
	transform: translate(0,25px)
}
.top-img{
	width:300px;
	height:195px;
}
.top-title{
	font-size:16px;
}
.top-moji{
	font-size:12px;
	color:#999999;
	list-style-type:none;
	display:block;
}
.top-moji-link{
	color:#999;
}
.top-moji-link p{
	margin-top:20px;
}
.wrapper{
	background-color:#fff;
	height:1050px;
	border-bottom:1px solid #eee;	
}
#nav-menu{
	float:right;
}
.nav-list{
	list-style:none;
	padding:10px 15px 5px 8px;
	text-decoration: none;
	font-size:13px;
	margin-right:5p;
}
.nav-list-a{
	color:#000;
}
.title_list{
	height:75px;
	border-bottom: 1px solid #eee;
}
.title_list h2{
	font-size:16px;
	line-height:21px;
}
.today_pickup{
	float:right;
	font-size:11px;
	line-height:16px;
	color:#9c9c9c;
	margin-bottom:10px; 
}
.content{
	border-left:1px solid #eee;
}

.article_list_content{
	float:left;
	border-bottom:1px solid #eee;
}
.article_list{
	margin-top:-10p;
}
.article_list_text{
	float:left;
	margin-right:-20px;
}

.article_list_text li{
	list-style: none;
}
.article-img{
	height:80px;
	width:80px;
	padding:5px;
}
.article_list_title{
	font-size:16px;
	line-height:21px;
}
.article_list_title_a{
	color:#000;
}
.article_list_title li{
	list-style:none;
}
.article_list_thumb{
	margin-top:7px;
}
.contents-sab-a{
	color:#9c9c9c;
	font-size:11px;
	line-height:16px;
}
#side-title{
	height:30px;
}
#side-inner{
	height:60px;
	border-left:3px solid #f18c1b;
	padding-left:10px;
	
}
#side-inner h2{
	margin-bottom:10px;
	font-size:16px;
	line-height:18px;
}
#side-inner p{
	color:#9c9c9c;
	font-size:11px;
	border-bottom:1px solid #eee;
}

.sidebar-bottom{
	font-size:14px;
	line-height:20px;
}

.rank-img{
	height:75px;
	width:75px;
	margin:5px;
	float:left;
}
.rank{
	height:530px;
}
.rank-a{
	color:#000;
	width:200px;
	float:left;
	margin-left:5px;
}
.rank-img:after{
	content: counter(rank-li,decimal);
	counter-increment: rank-a;
	color:#fff;
	text-align:center;
	line-height:19px;
	width:20px;
	height:20px;
	background-color:#f18c1b;
	border-radius: 20px;
	position:absolute;
	top:1px;
	left:1px;
	padding:0;
	display: inline-block;
	font-size:10px;
	border:#fff thin solid;
	}
.rank-li{
	list-style:none;
	margin:5px 0;
	border-bottom:1px solid #eee;
	counter-reset: rank-a;
}
.rank-li-a{
	color:#9c9c9c;
	font-size:11px;
	line-height:16px;
	margin-left: 5px;
}
.sidebar-bottom{
	font-size:16px;
	line-height:26px;
}
.sidebar-img{
	width:130px;
	height:64px;
	float:left;
	margin:0 10px 15px 0;
}
.sidebar-box{
	height:270px;
	margin:10px 0 10px 0;
}
.sidebar-box li{
	list-style:none;	
}
.sidebarx-list{

}
.footer{
	width:960px;
	margin:0 auto;
	height:300px;
}
.footer-inner{
	width:750px;
	height:230px;
	float:left;
}
.footer-logo{
	width:225px;
	margin-top:15px;
	height:100px;
}
.footer-category{
	width:220px;
	height:200px;
}
.footer-about{
	width:220px;
	height:200px;
}
.footer-list{
	margin-top:-10px;
}
.footer-category-list{
	list-style:none;
	margin-top:3px;
}
.footer-category-list a{
	color:#000;
}
.footer-category p{
	color:#9c9c9c;
	font-size:14px;
	line-height: 20px;
}
.footer-category-li{
	font-size:12px;
	padding:3px 0;
}
.footer-about p{
	font-size:14px;
	line-height:20px;
	color:#9c9c9c;
}
.footer-about li{
	list-style:none;
	font-size:12px;
	padding:3px 0;
}
.footer-about a{
	color:#000;
}
.footer-about-list{
	margin-top:-10px;
}
.footer-box{
	float:left;
	margin:10px;
	transform: translate(0,10px)
}
#footer-img{
	width:200px;
	height:35px;
	transform:translate(30px,30px);
}